<span style="display: none" id="userId"><%= current_user.nil? ? -1 :current_user.id %></span>
<div ng-app="forum">
  <div ng-controller="ForumController" ng-init="init()">
    <uib-accordion close-others="oneAtATime">
      <%= render 'forums/forums' %>
      <%= render 'forums/topics' %>
      <%= render 'forums/posts' %>
    </uib-accordion>
  </div>
</div>

<br>
<footer id='admin_link'>
  <% if forem_admin? %>
      <%= link_to t("area", :scope => "forem.admin"), admin_root_path %>
  <% end %>
</footer>