<div ng-app="forumAdmin">
  <div ng-controller="FormController">
    <%= simple_form_for [:admin, @forum], html: {"name" => "create_forum_form"} do |f| %>
        <div class="input-group">
          <div class="input string required" style="margin-top: 10px">
            <label for="forum_name" class="string required" style="padding-right: 10px">
              <abbr title="required">*</abbr> Category
            </label>
            <% if @category %>
                <input type="hidden" value="<%= @category['id'] %>" name="forum[category]">
                <span style="font-size: 15px">
                  <%= @category['category_name'] %>
                </span>
            <% else %>
                <%= f.select :category, @categories.map { |c| [c['category_name'], c['id']] } %>
            <% end %>
          </div>
          <div class="input string required" style="margin-top: 10px">
            <label for="forum_name" class="string required">
              <abbr title="required">*</abbr> Title
            </label>
            <% forum_name = @forum.attributes['forum_name'] %>
            <% forum_description = @forum.attributes['description'] %>
            <% if forum_name %>
                <input type="hidden" value="<%= @forum.attributes['id'] %>" name="forum_id">
            <% end %>
            <input type="text" placeholder="<%= forum_name %>" value="<%= forum_name %>" ng-model="forum_name" name="name" id="forum_name" class="string required form-control ng-valid ng-dirty ng-valid-parse ng-touched" required>
          </div>
          <div class="input text required">
            <label for="forum_description" class="text required" style="margin-top: 10px">
              <abbr title="required">*</abbr> Description
            </label>
            <textarea name="description" placeholder="<%= forum_description %>" id="forum_description" class="text required form-control" ng-model="forum_description" required><%= forum_description %></textarea>
          </div>
        </div>
        <hr>
        <h4><%= t('forem.admin.forum.moderator_groups') %></h4>

        <div class="input check_boxes optional">
          <% @groups.each_with_index do |group, i| %>
            <span class="checkbox">
              <label for="forum_moderator_ids_1">
                <input type="checkbox" value="<%= group['id'] %>" name="forum[moderator_ids][]"
                       id="forum_moderator_ids_<%= i %>" class="check_boxes optional"<%= (@forum_moderators || []).include?(group['id']) ? ' checked' : '' %>>
                <a href="/admin/groups/<%= group['id']%>"><%= group['name']%></a>
              </label>
            </span>
          <% end %>
        </div>
        <hr>

        <input type="submit" value="Submit" ng-show="!create_forum_form.name.$error.required && !create_forum_form.description.$error.required" name="commit" style="margin-top: 15px" class="btn btn-primary">
    <% end %>
  </div>
</div>