<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <img class="navbar-brand" id="logo" src="/assets/huami_icon.jpg" alt="Huami Forum"/>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', main_app.root_path %></li>
          <li><%= link_to 'Forums', nil, onclick: 'location.href="/forums"' %></li>
          <% if user_signed_in? %>
              <li class="dropdown">
                <a aria-expanded="true" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <%= current_user.name %>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to current_user.email, main_app.edit_user_registration_path %></li>
                  <% if current_user.forem_admin %>
                      <li><%= link_to "Administrate", admin_root_url %></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><%= link_to "Sign out", main_app.destroy_user_session_path, :method => :delete %></li>
                </ul>
              </li>

          <% else %>
              <li><%= link_to "Sign up", main_app.new_user_registration_path %></li>
              <li><%= link_to "Sign in", main_app.new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>