<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <img class="navbar-brand" id="logo" src="/assets/huami_icon.jpg" alt="Huami Forum"/>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', main_app.root_path %></li>
          <% if user_signed_in? %>
              <li class="dropdown">
                <a aria-expanded="true" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <%= current_user.name %>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu" style="padding-right: 18px">
                  <li>
                    <a href="/users/edit">
                      <i class="pull-left glyphicon glyphicon glyphicon-user dropdown-menu-icon"></i>
                      <%= current_user.email %>
                    </a>
                  <li>
                    <a href="/conversations">
                      <i class="pull-left glyphicon glyphicon glyphicon-envelope dropdown-menu-icon"></i>
                      Mails
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li><%= link_to "Sign out", main_app.destroy_user_session_path, :method => :delete %></li>
                </ul>
              </li>

          <% else %>
              <li><%= link_to "Sign up", main_app.new_user_registration_path %></li>
              <li><%= link_to "Sign in", main_app.new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>